/* Move block container higher */
div.block-container.css-18e3th9.egzxvld2 {
  margin-top: -5em;
}

/* Adjustments for the logo image*/

img {
  display: block;
  margin-top: 1.5em;
}

/* Centering text in each gray box */

/*  feature selection color changes 
div.css-177yq5e.e16nr0p30{
  background-color: #e4ece3;
  padding: 3% 3% 3% 3%;
  border-radius: 2px;
}



div.st-dc{
  background-color: rgb(126, 167, 167);
}
div.st-dd{
  background-color: rgb(126, 167, 167);

}
div.st-de{
  background-color:rgb(126, 167, 167);
}

div.st-df{
  background-color: rgb(126, 167, 167);
}

*/

/*
div.st-dh{
  background-color:rgb(255, 255, 255);
}

div.st-dc{
  background-color: rgb(126, 167, 167);
}
div.st-dd{
  background-color: rgb(126, 167, 167);

}


div.st-df{
  background-color: rgb(126, 167, 167);
}
*/
div.st-de{
  background-color:rgb(126, 167, 167);
}

div.st-dr{
  background-color:rgb(255, 255, 255);
}


div.stMarkdown{
  background-color: #e4ece3;
  padding: 3% 3% 3% 3%;
  border-radius: 2px;
}






span.st-dc{
  background-color: rgb(42, 176, 207);
}
span.st-dd{
  background-color: rgb(42, 176, 207);
}
span.st-de{
  background-color: rgb(42, 176, 207);
}
span.st-df{
  background-color: rgb(42, 176, 207);
}
/*
span.css-st-bh.st-cz.st-cy.st-fm{
span.css-st-bh.st-cz.st-cy.st-fm{
  background-color:#5f8cb3
}
*/

div.css-1v0mbdj.etr89bj1{
 align-items: center;
}

/* analytics section properties changes*/
div.css-12w0qpk.e1tzin5v2{
  background-color: #EEEEEE;
    padding: 3% 3% 3% 3%;
    border-radius: 2px;
}

/* brows file button  colior change */


button.css-uc7ato.edgvbvh1{
  background-color: #187891;
  padding: 3% 3% 3% 3%;
  border-radius: 2px;
}

button.css-1qrvfrg.edgvbvh9{
  background-color: #4593b0;
  padding: 3% 3% 3% 3%;
  border-radius: 2px;
}

span.css-10trblm.e16nr0p33{
  color: rgb(6, 89, 89);
}



div.css-1ht1j8u.e16fv1kl0 {
  text-align: center;
}

/* Third line of Row */
div.css-wnm74r.e16fv1kl3 {
  margin-left: 30%;
  margin-right: 20%;
}

/* Row 1 */
div.css-1r6slb0.e1tzin5v2 {
    background-color: #EEEEEE;
    padding: 3% 3% 3% 3%;
    border-radius: 5px;
}

/* Row 2 */
div.css-12w0qpk.e1tzin5v2 {
    background-color: #DCDCDC;
    padding: 3% 3% 3% 3%;
    border-radius: 5px;
}

div.css-keje6w.e1tzin5v2 {
  background-color: #EEEEEE;
  padding: 3% 3% 3% 3%;
  border-radius: 5px;
}

/* Hide hamburger menu and footer */
div.css-r698ls.e8zbici2 {
  display: none;
}

footer.css-ipbk5a.egzxvld4 {
  display: none;
}

footer.css-12gp8ed.eknhn3m4 {
  display: none;
}

div.vg-tooltip-element {
  display: none;
}

